ngx-pie{
  height: 100% !important;
  width: 100% !important;
}

.advanced-pie-legend .total-value {
  font-size: 40px !important;
  margin: 5px 0 11px 0 !important;
}

.legend-items {
  height: 70px !important;
  padding: 10px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item {
  padding: 5px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item > div{
  padding: 5px !important;
}
