// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import './material/material-dark';
@import './material/material-light';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #b7b7b7,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #b7b7b7,

  toggle-basic-checked-background-color: black,
  toggle-basic-checked-border-color: black,

  color-basic-100: #ffffff,
  color-basic-200: #fafafa,
  color-basic-300: #f6f6f6,
  color-basic-400: #f3f3f3,
  color-basic-500: #e1e1e1,
  color-basic-600: #bbbbbb,
  color-basic-700: #505050,
  color-basic-800: #444444,
  color-basic-900: #2f2f2f,
  color-basic-1000: #212121,
  color-basic-1100: #151515,

  color-basic-transparent-100: rgba(5, 1, 1, 0.08),
  color-basic-transparent-200: rgba(2, 4, 9, 0.16),
  color-basic-transparent-300: rgba(10, 2, 2, 0.24),
  color-basic-transparent-400: rgba(4, 8, 17, 0.32),
  color-basic-transparent-500: rgba(1, 1, 5, 0.4),
  color-basic-transparent-600: rgba(5, 1, 1, 0.6),

  color-basic-control-transparent-100:	rgba(255, 255, 255, 0.08),
  color-basic-control-transparent-200:	rgba(255, 255, 255, 0.16),
  color-basic-control-transparent-300:	rgba(255, 255, 255, 0.24),
  color-basic-control-transparent-400:	rgba(255, 255, 255, 0.32),
  color-basic-control-transparent-500:	rgba(255, 255, 255, 0.4),
  color-basic-control-transparent-600:	rgba(255, 255, 255, 0.48),

  color-basic-focus: #f5f5f5,
  color-basic-hover: #ffffff,
  color-basic-default: #f5f5f5,
  color-basic-active: #f3f3f3,
  color-basic-disabled: rgba(1, 2, 2, 0.24,),
  color-basic-focus-border: #e3e3e3,
  color-basic-hover-border: #ffffff,
  color-basic-default-border: #f3f3f3,
  color-basic-active-border: #efefef,
  color-basic-disabled-border: rgba(173, 173, 173, 0.24,),
  color-basic-transparent-focus: rgba(180, 180, 180, 0.24),
  color-basic-transparent-hover: rgba(182, 182, 182, 0.16),
  color-basic-transparent-default: rgba(175, 175, 175, 0.08),
  color-basic-transparent-active: rgba(175, 175, 175, 0.08),
  color-basic-transparent-disabled: rgba(175, 175, 175, 0.16),
  color-basic-transparent-focus-border: #aaacb0,
  color-basic-transparent-hover-border: #a2a3a6,
  color-basic-transparent-default-border: #a7a9ad,
  color-basic-transparent-active-border: #9d9e9f,
  color-basic-transparent-disabled-border: rgba(69, 73, 80, 0.24),

  color-primary-100: #ffffff,
  color-primary-200: #fafafa,
  color-primary-300: #f6f6f6,
  color-primary-400: #f3f3f3,
  color-primary-500: #e1e1e1,
  color-primary-600: #bbbbbb,
  color-primary-700: #505050,
  color-primary-800: #444444,
  color-primary-900: #2f2f2f,

  color-primary-transparent-100: rgba(5, 1, 1, 0.08),
  color-primary-transparent-200: rgba(2, 4, 9, 0.16),
  color-primary-transparent-300: rgba(10, 2, 2, 0.24),
  color-primary-transparent-400: rgba(4, 8, 17, 0.32),
  color-primary-transparent-500: rgba(1, 1, 5, 0.4),
  color-primary-transparent-600: rgba(5, 1, 1, 0.6),


  color-primary-focus: #050101,
  color-primary-hover:	#000000,
  color-primary-default:	#000102,
  color-primary-active:	#000000,
  color-primary-disabled:	rgba(0, 0, 0, 0.16),
  color-primary-focus-border:	#000000,
  color-primary-hover-border:	#000000,
  color-primary-default-border:	#000000,
  color-primary-active-border:	#000000,
  color-primary-disabled-border:	rgba(183, 183, 183, 0.24),
  color-primary-transparent-focus:	rgba(0, 0, 0, 0.24),
  color-primary-transparent-hover:	rgba(0, 0, 0, 0.16),
  color-primary-transparent-default:	rgba(252, 252, 252, 0.08),
  color-primary-transparent-active:	rgba(0, 0, 0, 0.24),
  color-primary-transparent-disabled:	rgba(143, 155, 179, 0.16),
  color-primary-transparent-focus-border:	#000000,
  color-primary-transparent-hover-border:	#000000,
  color-primary-transparent-default-border:	#000000,
  color-primary-transparent-active-border:	#000000,
  color-primary-transparent-disabled-border:	rgba(173, 177, 182, 0.24),


  background-primary-color-1: #000000,
  background-primary-color-2: #1a1a1a,
  background-primary-color-3: #333333,
  background-primary-color-4: #484848,
  border-primary-color-1:	#c5cee0,
  border-primary-color-2: #b9b9b9,
  border-primary-color-3: #565656,
  border-primary-color-4: #3f3f3f,
  border-primary-color-5: #262626,
  text-basic-color: #1a1a1a,

), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,
  option-list-border-radius: 0,

  slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
  slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,

  toggle-basic-checked-background-color: black,
  toggle-basic-checked-border-color: black,

  color-basic-100: #ffffff,
  color-basic-200: #fafafa,
  color-basic-300: #f6f6f6,
  color-basic-400: #f3f3f3,
  color-basic-500: #e1e1e1,
  color-basic-600: #bbbbbb,
  color-basic-700: #505050,
  color-basic-800: #444444,
  color-basic-900: #2f2f2f,
  color-basic-1000: #212121,
  color-basic-1100: #151515,

  color-basic-transparent-100: rgba(5, 1, 1, 0.08),
  color-basic-transparent-200: rgba(2, 4, 9, 0.16),
  color-basic-transparent-300: rgba(10, 2, 2, 0.24),
  color-basic-transparent-400: rgba(4, 8, 17, 0.32),
  color-basic-transparent-500: rgba(1, 1, 5, 0.4),
  color-basic-transparent-600: rgba(5, 1, 1, 0.6),

  color-basic-control-transparent-100:	rgba(255, 255, 255, 0.08),
  color-basic-control-transparent-200:	rgba(255, 255, 255, 0.16),
  color-basic-control-transparent-300:	rgba(255, 255, 255, 0.24),
  color-basic-control-transparent-400:	rgba(255, 255, 255, 0.32),
  color-basic-control-transparent-500:	rgba(255, 255, 255, 0.4),
  color-basic-control-transparent-600:	rgba(255, 255, 255, 0.48),

  color-basic-focus: #f5f5f5,
  color-basic-hover: #b7b7b7,
  color-basic-default: #f5f5f5,
  color-basic-active: #b7b7b7,
  color-basic-disabled: rgba(1, 2, 2, 0.24,),
  color-basic-focus-border: #e3e3e3,
  color-basic-hover-border: #b7b7b7,
  color-basic-default-border: #f3f3f3,
  color-basic-active-border: #efefef,
  color-basic-disabled-border: rgba(173, 173, 173, 0.24,),
  color-basic-transparent-focus: rgba(180, 180, 180, 0.24),
  color-basic-transparent-hover: rgba(182, 182, 182, 0.16),
  color-basic-transparent-default: rgba(175, 175, 175, 0.08),
  color-basic-transparent-active: rgba(173, 173, 173, 0.24),
  color-basic-transparent-disabled: rgba(175, 175, 175, 0.16),
  color-basic-transparent-focus-border: #aaacb0,
  color-basic-transparent-hover-border: #a2a3a6,
  color-basic-transparent-default-border: #a7a9ad,
  color-basic-transparent-active-border: #9d9e9f,
  color-basic-transparent-disabled-border: rgba(69, 73, 80, 0.24),

  color-primary-100: #ffffff,
  color-primary-200: #fafafa,
  color-primary-300: #f6f6f6,
  color-primary-400: #f3f3f3,
  color-primary-500: #e1e1e1,
  color-primary-600: #bbbbbb,
  color-primary-700: #505050,
  color-primary-800: #444444,
  color-primary-900: #2f2f2f,

  color-primary-transparent-100: rgba(5, 1, 1, 0.08),
  color-primary-transparent-200: rgba(2, 4, 9, 0.16),
  color-primary-transparent-300: rgba(10, 2, 2, 0.24),
  color-primary-transparent-400: rgba(4, 8, 17, 0.32),
  color-primary-transparent-500: rgba(1, 1, 5, 0.4),
  color-primary-transparent-600: rgba(5, 1, 1, 0.6),


  color-primary-focus: #050101,
  color-primary-hover:	#000000,
  color-primary-default:	#000102,
  color-primary-active:	#000000,
  color-primary-disabled:	rgba(0, 0, 0, 0.16),
  color-primary-focus-border:	#000000,
  color-primary-hover-border:	#000000,
  color-primary-default-border:	#000000,
  color-primary-active-border:	#000000,
  color-primary-disabled-border:	rgba(183, 183, 183, 0.24),
  color-primary-transparent-focus:	rgba(0, 0, 0, 0.24),
  color-primary-transparent-hover:	rgba(0, 0, 0, 0.16),
  color-primary-transparent-default:	rgba(252, 252, 252, 0.08),
  color-primary-transparent-active:	rgba(0, 0, 0, 0.24),
  color-primary-transparent-disabled:	rgba(143, 155, 179, 0.16),
  color-primary-transparent-focus-border:	#000000,
  color-primary-transparent-hover-border:	#000000,
  color-primary-transparent-default-border:	#000000,
  color-primary-transparent-active-border:	#000000,
  color-primary-transparent-disabled-border:	rgba(173, 177, 182, 0.24),


  background-primary-color-1: #000000,
  background-primary-color-2: #1a1a1a,
  background-primary-color-3: #333333,
  background-primary-color-4: #484848,
  border-primary-color-1: #e7e7e7,
  border-primary-color-2: #b9b9b9,
  border-primary-color-3: #565656,
  border-primary-color-4: #3f3f3f,
  border-primary-color-5: #262626,
  text-basic-color: #1a1a1a,

), material-light, material-light);

