<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <div>
        <img src="/assets/images/logo.png" alt="logo" height="25">
      </div>
    </a>
  </div>
</div>

<div class="header-container">
  <nb-user name="{{user?.name | ngxCapitalize}} {{user?.surname | ngxCapitalize}}" title="{{user?.role | uppercase}}"></nb-user>
</div>
